server {
    listen 80;
    listen 443 ssl;

    ssl_certificate /etc/nginx/ssl/localhost.certificate.crt;
    ssl_certificate_key /etc/nginx/ssl/localhost.certificate.key;

    server_name magento.dev;
    root /var/www/magento;
    index index.php index.html index.htm;

    error_log /var/log/nginx/error.log;
    #access_log /var/log/nginx/access.log;

    include sites-available/nginx_m1.config;
}
