location @maintenance {
    rewrite ^(.*)$ /errors/503.php;
}

############ Compression
gzip  on;
gzip_vary on;
gzip_proxied any;
gzip_http_version 1.1;
gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;
gzip_comp_level 9;
gzip_min_length 0;

############ Security
server_tokens off;

# Allowed request methods
if ($request_method !~ ^(GET|HEAD|POST)$ ) {
    return 501;
}

location ~ ^/(app/|downloader/|includes/|pkginfo/|shell/|cgi-bin/|is-bin/|(?!admin/ecp)admin|skin/frontend/rockar/default/vue) {
    return 444;
}

location / {
    index index.html index.htm index.php;
    try_files $uri $uri/ @handler;
}

# these locations would be hidden by .htaccess normally
location /app/                { deny all; }
location /includes/           { deny all; }
location /lib/                { deny all; }
location /lib/minify/         { allow all;} ## Deny is applied after rewrites so must specifically allow minify
location /media/downloadable/ { deny all; }
location /pkginfo/            { deny all; }
location /report/config.xml   { deny all; }

#location /var/                { deny all; }
location /var/ {
    autoindex on;
    autoindex_exact_size off;
    autoindex_localtime on;
    expires -1;
}

location ~ (.jpg|.png|.gif) {
    allow all;
}

# deny access to .htaccess and other hidden files
location /. {
    deny  all;
}

location @handler {
    rewrite / /index.php;
}

location /api {
    rewrite ^/api/rest /api.php?type=rest last;
    rewrite ^/api/v2_soap /api.php?type=v2_soap last;
    rewrite ^/api/soap /api.php?type=soap last;
}

location ~ \.php$ {
    if (!-e $request_filename) { rewrite / /index.php last; }

    #do not cache dynamic content
    expires off;

    try_files $uri /index.php =404;
    fastcgi_pass php-upstream;
    fastcgi_index index.php;
    fastcgi_buffers 16 16k;
    fastcgi_buffer_size 32k;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;

    #Enable developer mode for Magento
    fastcgi_param MAGE_IS_DEVELOPER_MODE true;
}

location ~ /\.ht {
    deny all;
}

location /.well-known/acme-challenge/ {
    root /var/www/letsencrypt/;
    log_not_found off;
}
