server {
    listen 80;
    listen 443 ssl;

    ssl_certificate /etc/nginx/ssl/localhost.certificate.crt;
    ssl_certificate_key /etc/nginx/ssl/localhost.certificate.key;

    server_name wordpress.dev;
    root /var/www/wordpress;
    include sites-available/wordpress.config;

    error_log /var/log/nginx/wordpress_error.log;
}
